<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="form-inline">
      <!-- <label class="sr-only" for="inlineFormInputName2">Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">  -->

      <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
      </div>
      <button type="submit" id="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <h1 id="username"></h1>

    <!-- the script that stores Username -->
    <script type="text/javascript">

    if(!localStorage.getItem('username'))
        localStorage.setItem('username','');
    document.addEventListener('DOMContentLoaded', ()=> {
      document.querySelector('#username').innerHTML = localStorage.getItem('username');

      document.querySelector('#submit').onclick = () => {
        let username = document.querySelector('#inlineFormInputGroupUsername2').value;
        document.querySelector('#username').innerHTML = username;
        localStorage.setItem('username',username);

      }
    });

    </script>
    <style media="screen">
      #list_of_channels {
          height: 200px;
          width: 15%;
          background-color: white;
         }
    </style>
    <!-- button to create a new channel -->
    <!-- <style media="screen">
      #create_list{
        width: 15%;
      }
    </style> -->
  <div id='list_of_channels'>
    <!-- list of the channels -->
    <div class="list-group" id="list">
      <form class="form-inline" id='new_channel'>
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <button type="button" name="create_channel" id="create_channel">Create new channel</button>
          <input type="text" class="form-control" name="new_channels_name" id="new_channels_name" placeholder="Username">
        </div>
      </form>
    </div>
    <ul id="channels_list">
    </ul>
    <style media="screen">
      #messages{
        background-color: rgb(129,249,195);
        width: 820px;
        height: 550px;
        left: 400px;
        top: 0px;
        position: absolute;
      }
      #send-message{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100px;
        border: 3px solid #73AD21;
      }
      #message{
        position: fixed;
        bottom: 0;
        right: 80;
        width: 300px;
        border: 3px solid #73AD21;
      }
    </style>
  </div>
  <div id="messages">
    <input type="text" id="message" class="form-control" placeholder="Type your message here">
    <button type="submit" id="send-message" class="btn btn-primary">Send</button>
    <ul id="messages_list">
    </ul>

  </div>
  <!-- script of channels -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script type="text/javascript" >
      //checks the last channel we were in
      if(!localStorage.getItem('curr_channel'))
          localStorage.setItem('curr_channel','');
      document.addEventListener('DOMContentLoaded', () =>{

        // checks if we already have a stored channel or not
        var pre_channels = {{data|safe}};
        for(const [key, value] of Object.entries(pre_channels)){

          // console.log(key, value);

          const button = document.createElement('button');
          button.className = 'list-group-item list-group-item-action';
          button.name = key;
          button.innerHTML = key;

          console.log("ok then")
          console.log(button.name);

          document.querySelector('#channels_list').append(button);
        }

        document.querySelector('#create_channel').disabled = true;

        document.querySelector('#new_channels_name').onkeyup = () =>{
          if (document.querySelector('#new_channels_name').value.length >0)
              document.querySelector('#create_channel').disabled = false;
          else
              document.querySelector('#create_channel').disabled = true;
        };
        var socket = io.connect(location.protocol +'//'+document.domain+ ':' + location.port);
        socket.on('connect' , () => {

          document.querySelector('#create_channel').onclick = () =>{

            const request = new XMLHttpRequest();
            const channel_name = document.querySelector('#new_channels_name').value;
            request.open('POST','/messanger');

            request.onload = () => {
              const data = JSON.parse(request.responseText);

              if (data.success){
                const button = document.createElement('button');
                button.className = 'list-group-item list-group-item-action';
                button.name = data.channel;
                button.innerHTML = data.channel;

                document.querySelector('#channels_list').append(button);
                document.querySelector('#new_channels_name').value = '';

                socket.emit('creat channel',{"channel_name": data.channel });
                // return false;

              };
            };
            const data = new FormData();
            data.append('new_channels_name',channel_name);
            request.send(data);
            return false;

          };
        });
        socket.on('announce channel', data =>{
          const button = document.createElement('button');
          button.className = 'list-group-item list-group-item-action';
          button.name = data["channel_name"];
          button.innerHTML = data["channel_name"];

          document.querySelector('#channels_list').append(button);
          document.querySelector('#new_channels_name').value = '';
        });

        //access to channels content
        document.querySelectorAll('.list-group-item.list-group-item-action').forEach(function(button){
          button.onclick = function(){
            // console.log("eeee");
            if (button.name !="create_channel"){
            document.querySelector("#messages_list").innerHTML = ""
            // document.querySelector("#yoho").innerHTML = pre_channels[button.name][0];
            for (var i=0; i<pre_channels[button.name].length;i++){
               const li = document.createElement("li");
               li.className = "list-group-item"
               li.innerHTML = pre_channels[button.name][i]
               document.querySelector('#messages_list').append(li);

               localStorage.setItem('curr_channel',button.name);
            }
            console.log(button.name);
            }
          };
        });
        //
        //sending messange
        socket.on('connect', () => {
            document.querySelector("#send-message").onclick = () =>{
               const message = document.querySelector("#message").value;
               console.log(message);
               console.log(localStorage.getItem('curr_channel'));
               socket.emit('send message',{"message": message, "user": localStorage.getItem('username') ,"channel_name":localStorage.getItem('curr_channel') });
            };
        });
        socket.on('announce message', data => {
          const li = document.createElement('li')
          li.className = "list-group-item"
          li.innerHTML = data["message"][1]
          pre_channels[data["channel_name"]].push(data["message"])
          console.log("****");
          console.log(data["channel_name"]);
          console.log(localStorage.getItem('curr_channel') );
          console.log("**");
          if (localStorage.getItem('curr_channel') === data["channel_name"]){
          document.querySelector('#messages_list').append(li);
        };
        });
      });

  </script>
  <h6 id="yoho"></h6>
  </body>
</html>
