<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="form-inline">
      <!-- <label class="sr-only" for="inlineFormInputName2">Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">  -->

      <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
      </div>
      <button type="submit" id="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <h1 id="username"></h1>

    <!-- the script that stores Username -->
    <script type="text/javascript">

    if(!localStorage.getItem('username'))
        localStorage.setItem('username','');
    document.addEventListener('DOMContentLoaded', ()=> {
      document.querySelector('#username').innerHTML = localStorage.getItem('username');

      document.querySelector('#submit').onclick = () => {
        let username = document.querySelector('#inlineFormInputGroupUsername2').value;
        document.querySelector('#username').innerHTML = username;
        localStorage.setItem('username',username);

      }
    });

    </script>
    <style media="screen">
      #list_of_channels {
          height: 200px;
          width: 15%;
          background-color: white;
         }
    </style>
    <!-- button to create a new channel -->
    <!-- <style media="screen">
      #create_list{
        width: 15%;
      }
    </style> -->
  <div id='list_of_channels'>
    <button type="button" id="create_channel" class="list-group-item list-group-item-action">Create new channel</button>
    <!-- list of the channels -->
    <div class="list-group" id="list">
      <form class="form-inline" id='new_channel'>
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="new_channels_name" placeholder="Username">
        </div>
      </form>
    </div>
    <ul id="channels">
    </ul>
  </div>
  <!-- script of channels -->
  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () =>{
        document.querySelector('#create_channel').disabled = true;

        document.querySelector('#new_channels_name').onkeyup = () =>{
          if (document.querySelector('#new_channels_name').value.length >0)
              document.querySelector('#create_channel').disabled = false;
          else
              document.querySelector('#create_channel').disabled = true;
        };
        document.querySelector('#create_channel').onclick = () =>{

          const button = document.createElement('button');
          button.className = 'list-group-item list-group-item-action'
          button.innerHTML = document.querySelector('#new_channels_name').value;

          document.querySelector('#channels').append(button);

          document.querySelector('#new_channels_name').value = '';

          return false;
        }
      })
  </script>

  </body>
</html>
